ul {
  padding: 0;
  border: 1px solid #eee;
}

ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

ul li {
  padding: 15px;
}

ul li a {
  margin-right: 15px;
}

form {
  padding: 15px;
  border: 1px solid #eee;
}

form input[type="text"] {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}
